# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Env files
.env
.env.*

# OS/IDE
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Misc
dist/
coverage/
